
<p>
  Nadrox est un regroupement de spécialistes dans le domaine du développement Web. Nous offrons nos services de
  consultations à des entreprises en tout genre afin de compléter leur expertise interne ou pour combler des besoins
  de productivité. Nous faire confiance c'est faire un pas en avant pour la réussite de vos projets!
</p>

<p>
  Notre équipe est constiués de gens qui ont votre succès à coeur. Vous pouvez en toute liberté consulter nos profils
  sur différentes plateformes tel que LinkedIn et Github. Nous tenons également à jour nos calendriers publique afin
  de vous donner un aperçu de nos disponibilités à venir.
</p>

<profile-list></profile-list>
