html{
  font-family:verdana,arial,sans-serif;
  font-size:80%;
}
body{
  padding:0;
  margin:0;
  font-size: 1.3em;
  line-height:1.5em;
  text-align:center;
  color:rgb(115,115,115);
}

nadrox > section{
  display: block;
  max-width:1200px;
  text-align:left;
  margin:0 auto;
  padding:0 5%;
}
footer{
  text-align: center;
  color:#cdcdcd;
}
ul,
ul li{
  list-style-type: none;
  margin:0;
  padding:0;
}
img{
  border:0;
}
a{
  color: #3b66b0;
  text-decoration:none;
}
a:hover{
  color:#f6c;
}
.logo{
  margin:1em 0;
}
