<section>
  <h1 class="logo">
    <a href="/"><img alt="Nadrox solutions" src="assets/app/components/home/assets/img/logo.png" /></a>
  </h1>
</section>
<section>
	<home></home>
  <footer>
    &copy; Nadrox Inc, 2009-{{ currentYear }}
  </footer>
</section>
