<div class="wrapper">
  <div class="avatar" (click)="toggleProfile()" >
    <h2>
      <span [innerHtml]="profile.name"></span>
      <small [innerHtml]="profile.jobTitle"></small>
    </h2><img [src]="profile.avatar" />
  </div>
  <div class="summary">
    <ul *ngIf="profile.references.length" class="references">
      <li *ngFor="#reference of profile.references">
        <a [href]="reference.url">
          <span class='{{reference.icon}} icon' title="{{reference.name}}"></span>
          <span class="name">{{reference.name}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="details visible-details" [style.height]="detailsHeight">

    <div [innerHtml]="profile.description"></div>
    <ul *ngIf="profile.references.length" class="references">
      <li *ngFor="#reference of profile.references">
        <a [href]="reference.url">
          <span class='{{reference.icon}} icon' title="{{reference.name}}"></span>
          <span class="name">{{reference.name}}</span>
        </a>
      </li>
    </ul>
  </div>

</div>
<div class="hidden-wrapper">
  <div class="details">
    <div class="description" [innerHtml]="profile.description"></div>
    <ul *ngIf="profile.references.length" class="references">
      <li *ngFor="#reference of profile.references">
        <a [href]="reference.url">
          <span class='{{reference.icon}} icon' title="{{reference.name}}"></span>
          <span class="name">{{reference.name}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
