:host{
  display: block;
}
.avatar:after{
  clear: both;
  display:table;
  content:"";
  height:0;
  visibility: hidden;
}
:host .wrapper,
.hidden-wrapper{
  -webkit-transition : all 300ms ease-in;
  transition : all 300ms ease-in;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  padding:5%;
  z-index: 1;
  background-color:rgb(255,255,255);
  border:1px solid rgba(205,205,205,0);
  margin:0;
}

:host.expanded .wrapper{
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;

  position:relative;
  top:0;
  z-index: 20;

  border-color:rgba(205,205,205,1);
}


.wrapper .details{
  -webkit-transition : all 150ms ease-in;
  -webkit-transition-delay: 0ms;
  transition : all 150ms ease-in;
  transition-delay: 0ms;
  transform: translate(0, 10px);
  opacity:0;
  height:0;
  overflow: hidden;
}

:host.expanded .wrapper .details{
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
  transform: translate(0, 0);
  opacity:1;
  overflow: visible;
}


.hidden-wrapper{
  visibility: hidden;
  position:absolute;
  z-index:-1;
  top:0;
}



.summary{
  opacity: 1;
  -webkit-transition : all 300ms ease-in;
  transition : all 300ms ease-in;
}
.summary .references li{
  margin:0 0.1em;
}

.avatar{
  text-align:left;
  cursor:pointer;
}
.avatar img{
  float:left;
  width:20%;
  margin-right:5%;
  -webkit-transition : all 300ms ease-in;
  transition : all 300ms ease-in;

}
.avatar h2{
  font-size:1.4em;
  color:#3b66b0;
  text-shadow:none;
  max-width:70%;
  display: inline-block;
  font-weight:normal;
  line-height:1.1em;
}
.avatar h2 small{
  line-height:1.5em;
  color: #bfd732;
  font-size:0.6em;
  font-weight:bold;
  display:block;
}

img{
  width:100%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  border:3px solid #bfd732;
  -webkit-transition : all 300ms ease-in;
  transition : all 300ms ease-in;
  -webkit-filter:grayscale(80%);
  filter:grayscale(80%);

  /*-ms-transform: rotate(5deg); !* IE 9 *!*/
  /*-webkit-transform: rotate(5deg); !* Chrome, Safari, Opera *!*/
  /*transform: rotate(5deg);*/
}
:host img:hover,
:host.expanded img{
  -webkit-filter:grayscale(0%);
  filter:grayscale(0%);
  /*-ms-transform: rotate(-5deg); !* IE 9 *!*/
  /*-webkit-transform: rotate(-5deg); !* Chrome, Safari, Opera *!*/
  /*transform: rotate(-5deg);*/
}

:host.expanded .summary{
  opacity:0;
  height:0;
}

.details{
  text-align:left;
}
.details .description{
  text-align:center;
}

.references .name{
  display:none;
}
.references li{
  display:inline-block;
  font-size:1.4em;
  line-height:1.7em;
}
.details .references li{
  display:list-item;
  font-size:1em;

}
.details .references .name{
  display: inline;
}

@media only screen and (min-width : 768px) {
  :host.expanded .wrapper,
  .hidden-wrapper{
    transform:translate3d(0,-5em,0);
    margin-left:-25%;
    margin-right:-25%;
  }

  .avatar{
    position:relative;
    text-align:center;
  }
  .avatar img{
    float:none;
    max-height:8em;
    width:auto;
    margin-bottom:6em;
    top:0;
  }
  :host.expanded .avatar img{
    max-height:12em;
  }
  .avatar h2 {
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    position:absolute;
    top:6em;
    max-width:none;
    width:100%;
  }
  :host.expanded .avatar h2{
    top:9.6em;
  }

  .wrapper{
    padding:8% 0;
  }
  .hidden-wrapper,
  :host.expanded .wrapper{
    padding: 8%
  }
  h2{
    bottom:0;
    left:0;
  }
}
