:host{
  display:block;
  margin-bottom:3em;
}
:host:after{
  clear: both;
  display:table;
  content:"";
  height:0;
  visibility: hidden;
}
profile{
  box-sizing:border-box;
  text-align: center;
  position:relative;
}

@media only screen and (min-width : 768px) {
  profile{
    float:left;
    width:29%;
    margin:2%;
  }
}
